support-for-ie ?= true

$brick = 28px /*Worldspace Brick Size. Change this to anything.*/
$line = ($brick * 0.618); /*Text to brick ratio. Try 0.618, 0.5, 0.75. Do not exceed 1*/
$border-width = 2px;
$line-height = $brick - $border-width;


$line-margin ?= ($brick - $line - $border-width) * 0.5; /*do not alter this, it should always be half*/

$border-radius = 4px;


/*Core color levels*/
$color-stateless = #555;
$color-default = #777;
$color-error = red;
$color-highlight = orange;
$color-success = green;
$color-advantage = #0000ff;

/*interactivity*/
$color-hover = blue;
$color-focus = green;

/*debugging and layout*/
.brick {
  box-sizing();
  height: $brick;
  width:100%;
  float:left;
}





