@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600");

$brick ?= 30px;
$line ?= $brick * 0.5; 
$font-size ?= $line;
$font-family = 'Open Sans', sans-serif;

_paragraph-margin = $line;

/*Icons*/

@font-face {
  font-family: 'ui-icon-font';
  src: url('fonts/ui-icon-font.eot');
  src: url('fonts/ui-icon-font.eot?#iefix') format('embedded-opentype'), url('fonts/ui-icon-font.woff') format('woff'), url('fonts/ui-icon-font.ttf') format('truetype'), url('fonts/ui-icon-font.svg#ui-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line;
}

p, label {
  
  
}
p ~ p {
  margin-top: $line;
}

h1 {
  line-height: $line * 3.5;
  font-size: $font-size * 3.5;
}

h2 {
  line-height: $line * 2.75;
  font-size: $font-size * 2.75;
}

h3 {
  line-height: $line * 2;
  font-size: $font-size * 2;
}

h4 {
  line-height: $line * 1.5;
  font-size: $font-size * 1.5;
}

h5 {
  line-height: $line * 1.25;
  font-size: $font-size * 1.25;
}

h6 {
  line-height: $line;
  font-size: $font-size;
}

/*helpers*/
.ui-typography-textalign-center {
  text-align: center;
}

.ui-typography-textalign-top {
  vertical-align: top;
}

.ui-typography-textalign-right {
  text-align: right;
}

.ui-typography-textalign-left {
  text-align: left;
}

.ui-typography-textalign-center.ui-icon {
  display: inline-block;
}

.ui-typography-uppercase {
  text-transform: uppercase;
}




