$font-family = 'Open Sans', sans-serif;

.ui-widget
  box-sizing();
  zoom: 1;
  font-weight: normal;
  font-family: $font-family;
  width: 100%;
  line-height: $brick;
  display: block;
  float:left;






